body {
    margin: 0;
}

.logo {
    font-family: 'Peralta',
        cursive;
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.main-text,
.header-text,
.main-button {
    color: #E5E7EB;
    text-decoration-line: none;
    font-size: 18px;
}

.banner {
    width: 430px;
    height: 230px;
    border-radius: 4px;
    margin-left: 30px;
}

.first-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 7em;
}

.content {
    display: flex;
    margin-right: 36px;
    align-self: flex-start;
    justify-content: flex-start;
    margin-left: 200px;
    padding-bottom: 6em;
}

.content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}

.content-title,
.main-text {
    margin: 0;
}

.main-button {
    background-color: #3882f6;
    border-style: none;
    border-radius: 6px;
    margin-top: 5px;
    padding: 4px 20px;
    text-decoration-line: none;
}

.main-button:hover {
    background-color: #1f2937;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-right: 36px;
}

.info-image{
    height: 150px;
    width: 150px;
    border-radius: 16px;
}
.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}
.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}
.information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-top: 25px;
    margin: 0;
    padding:0;
}
.information .info-box{
    width: 150px;
    text-align: center;
    flex: 1;
}
